/*
File Name: aboutMe.css
Student Name: Ravindra Patil
Student ID: 300611610
Date: 2025-09-25

Description: Styles for the About Me page of the portfolio site.
*/

.about-container {
    padding: 50px;

    img {
        width: 400px;
        height: 400px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* optional, center text inside the box */
    }
}

