/*
File Name: home.css
Student Name: Ravindra Patil
Student ID: 300611610
Date: 2025-09-25

Description: Styles for the Home page of the portfolio site.
*/

.home-page-container {
    padding: 50px;
}