/*
File Name: app.css
Student Name: Ravindra Patil
Student ID: 300611610
Date: 2025-09-14

Description: Styles for the app page of the portfolio site.
*/
.topnav {
  background-color: #333;
  overflow: hidden;
}